/* Header Styles */
h2 {
    padding-top: 8%;
}



/* Form Styles */
label {
    font-weight: bold;
}

label.form-check-label {
    font-weight: normal;
}

input#first {
    border-right: none;
}

.input-group-addon {
    background-color: transparent;
}

button#next {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* Notice Styles */
div#note {
    background-color: #F1F0F0;
    margin-right: 5%;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 200px;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
}

